In [6]:
from pyspark.sql import SparkSession

# Set the absolute paths to the Iceberg tables and JAR files
iceberg_tables_path = "/Users/france.cama/code/iceberg-practice/iceberg_tables"
iceberg_jars_path = "/Users/france.cama/code/iceberg-practice/jars/iceberg-spark-runtime-3.5_2.13-1.5.0.jar"

# Create a Spark session
spark = SparkSession.builder \
    .appName("Iceberg schema evolution feature") \
    .config("spark.driver.extraJavaOptions", "-Dderby.system.home=" + iceberg_tables_path) \
    .config("spark.jars", iceberg_jars_path) \
    .config("spark.sql.catalog.spark_catalog", "org.apache.iceberg.spark.SparkSessionCatalog") \
    .config("spark.sql.catalog.spark_catalog.type", "hadoop") \
    .config("spark.sql.catalog.spark_catalog.warehouse", iceberg_tables_path) \
    .getOrCreate()

spark.sql("ALTER TABLE titanic DROP COLUMN choose_a_column;")

table_schema = spark.sql("DESCRIBE titanic").show()

# Add a new column to the schema
spark.sql("ALTER TABLE titanic ADD COLUMN choose_a_column string")
spark.sql("INSERT INTO default.titanic VALUES (77, 'a', 'b', 77, 'ccc', 1, 2, 3, 'M', 4, 77, 'a', 'b', 4, 'lorem', 'lorem');")

current_snapshot_id = spark.sql("SELECT snapshot_id FROM default.titanic.history ORDER BY made_current_at DESC;").first()[0]
second_snapshot_id = spark.sql("SELECT snapshot_id FROM default.titanic.history ORDER BY made_current_at DESC LIMIT 1 OFFSET 3;").first()[0]

spark.sql("SELECT * FROM default.titanic.history ORDER BY made_current_at DESC;").show()
print(current_snapshot_id, second_snapshot_id )

# Read the table with the new schema
df = spark.sql(f"SELECT * FROM titanic VERSION AS OF {current_snapshot_id};")
print("Data with new schema:", df.show(5))

# Read the table with the old schema
df_old = spark.sql(f"SELECT * FROM titanic VERSION AS OF {second_snapshot_id};")
print("Data with old schema:", df_old.show(5))

#spark.sql("ALTER TABLE titanic DROP COLUMN choose_a_column;")

+-----------+---------+-------+
|   col_name|data_type|comment|
+-----------+---------+-------+
|        Age|   double|   NULL|
|      Cabin|   string|   NULL|
|   Embarked|   string|   NULL|
|       Fare|   double|   NULL|
|       Name|   string|   NULL|
|      Parch|      int|   NULL|
|PassengerId|      int|   NULL|
|     Pclass|      int|   NULL|
|        Sex|   string|   NULL|
|      SibSp|      int|   NULL|
|   Survived|   double|   NULL|
|     Ticket|   string|   NULL|
|      Title|   string|   NULL|
|Family_Size|      int|   NULL|
| new_column|   string|   NULL|
+-----------+---------+-------+

+--------------------+-------------------+-------------------+-------------------+
|     made_current_at|        snapshot_id|          parent_id|is_current_ancestor|
+--------------------+-------------------+-------------------+-------------------+
|2024-04-27 15:13:...|9015970749471366070|1036892303015044680|               true|
|2024-04-27 15:11:...|1036892303015044680|3663590870506627609|               true|
|2024-04-27 13:29:...|3663590870506627609| 922663229200831164|               true|
|2024-04-27 13:28:...| 922663229200831164|9220030009765536769|               true|
|2024-04-27 10:37:...|9220030009765536769|2195253128215160933|               true|
|2024-04-27 10:36:...|2195253128215160933|               NULL|               true|
+--------------------+-------------------+-------------------+-------------------+

9015970749471366070 922663229200831164
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+-----+-----------+----------+---------------+
| Age|Cabin|Embarked|   Fare|                Name|Parch|PassengerId|Pclass|   Sex|SibSp|Survived|          Ticket|Title|Family_Size|new_column|choose_a_column|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+-----+-----------+----------+---------------+
|22.0| NULL|       S|   7.25|Braund, Mr. Owen ...|    0|          1|     3|  male|    1|     0.0|       A/5 21171|   Mr|          1|      NULL|           NULL|
|38.0|  C85|       C|71.2833|Cumings, Mrs. Joh...|    0|          2|     1|female|    1|     1.0|        PC 17599|  Mrs|          1|      NULL|           NULL|
|26.0| NULL|       S|  7.925|Heikkinen, Miss. ...|    0|          3|     3|female|    0|     1.0|STON/O2. 3101282| Miss|          0|      NULL|           NULL|
|35.0| C123|       S|   53.1|Futrelle, Mrs. Ja...|    0|          4|     1|female|    1|     1.0|          113803|  Mrs|          1|      NULL|           NULL|
|35.0| NULL|       S|   8.05|Allen, Mr. Willia...|    0|          5|     3|  male|    0|     0.0|          373450|   Mr|          0|      NULL|           NULL|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+-----+-----------+----------+---------------+
only showing top 5 rows

Data with new schema: None
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+-----+-----------+
| Age|Cabin|Embarked|   Fare|                Name|Parch|PassengerId|Pclass|   Sex|SibSp|Survived|          Ticket|Title|Family_Size|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+-----+-----------+
|22.0| NULL|       S|   7.25|Braund, Mr. Owen ...|    0|          1|     3|  male|    1|     0.0|       A/5 21171|   Mr|          1|
|38.0|  C85|       C|71.2833|Cumings, Mrs. Joh...|    0|          2|     1|female|    1|     1.0|        PC 17599|  Mrs|          1|
|26.0| NULL|       S|  7.925|Heikkinen, Miss. ...|    0|          3|     3|female|    0|     1.0|STON/O2. 3101282| Miss|          0|
|35.0| C123|       S|   53.1|Futrelle, Mrs. Ja...|    0|          4|     1|female|    1|     1.0|          113803|  Mrs|          1|
|35.0| NULL|       S|   8.05|Allen, Mr. Willia...|    0|          5|     3|  male|    0|     0.0|          373450|   Mr|          0|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+-----+-----------+
only showing top 5 rows

Data with old schema: None

Is it possible to alter the schema of the table and depending on the snapshot you want to access the schema is determined, allowing yo